:root {
    --BGColor: #223522;
    --ContentBG: #E6DECC;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.HomepageBG {
    width: 100%;
    height: fit-content;
    background-color: var(--BGColor);
    box-sizing: border-box;
    padding: 20vh 5% 1rem 5%;
}

.HomepageBG p {
    margin-bottom: 1rem;
    color: white;
    font-size: 2rem;
}

.GroupPicture {
    width: 100%;
    height: 50vh;
    margin-bottom: 1rem;
    background-color: red;
}

@media (min-width: 600px) {
    .Wrapper {
        display: flex;
        gap: 1rem;
    }

    .GroupPicture {
        min-width: 50%;
    }
}

@media (min-width: 900px) {

}

@media (min-width: 1200px) {

}