:root {
    --BGColor: #223522;
    --ContentBG: #E6DECC;
}

body {
    overflow-x: hidden;
}

.MainhomepageBG {
    background-image: url('placeholder_bridge.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    color: rgb(255, 121, 121);
    font-size: 5rem;
}

/*Home*/
.HomepageBG {
    background-image: url('placeholder_bridge.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    color: rgb(255, 121, 121);
    font-size: 5rem;
}

.MainhomepageBG, .HomepageBG {
    font-size: 1.5rem;
    height: 100vh; /* better than 70rem */
}


.HomeIntroBG {
    background-color: var(--ContentBG);
    display: grid;
    grid-template-columns: 1fr;        
    width: 100%;
    height: fit-content;
    padding-bottom: 10%;
}

.IntroText  {
    font-size: 1.5rem;
    padding-left: 1rem;
    color: white;
}

.GreenSquare {
    background-color:#182518;
    width: 100%;
    padding-bottom: 2rem;
    height: fit-content;
}

.GreenSquare img {
    display: block; 
    margin: 0 auto;
    opacity: 60%;
    padding-bottom: 2rem;

    width: 100%;       
    max-width: 700px;   
    height: auto;       
}

.InfoAndLearnBTN {
    height: fit-content;
    width: 100%;
    display: flex;
    color: black;
    align-items: flex-end; 
}

#InfoWrap {
    padding: 1rem;
    padding-top: 10.5rem;
    padding-bottom: 0;
}

#InfoText{  
    font-size: 1rem;
}

#Button {
    display: inline-block;
    border: 1px solid black; 
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    cursor: pointer; 
    outline: none; 
    text-decoration: none;
    color: black;
}

#Button:hover {
}s

.HomeContentBG {
    background-color: #223522;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr; /* mobile = 1 column */
    gap: 20px;
    justify-items: center;  
    align-items: center;  
    padding-bottom: 4rem;
}

.PhotoCard {
    margin-top: 4rem;
    width: 80%;
    max-width: 20rem;
    height: inherit;

    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.PhotoCardCard {
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    width: 100%;
    height: 60vh;
}

.Container {
    max-width: 2400px;   /* limits how wide it can get */
    margin: 0 auto;      /* centers it */
    width: 100%;
}

@media (min-width: 600px) {
    .MainhomepageBG, .HomepageBG {
        font-size: 3rem;
    }

    .HomeContentBG {
        grid-template-columns: 1fr 1fr;
    }

    .HomeIntroBG {
        display: flex;
    }

    #InfoText {
        padding-right: 10%;
        font-size: 1.5frem;
    }

    #InfoWrap {
        padding: 2rem;
        padding-top: 8.5rem;
        padding-bottom: 0;
    }

    #Button {
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }

    .IntroText  {
        font-size: 3rem;
        padding-left: 1rem;
        color: white;
    }

    .GreenSquare {
        padding-bottom: 1rem;
    }
}

@media (min-width: 900px) {
    .MainhomepageBG, .HomepageBG {
        font-size: 4rem;
    }

    .HomeContentBG {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .GreenSquare {
        max-width: 60%;
    }

    #InfoText {
        padding-right: 50%;
    }
}

@media (min-width: 1200px) {
    .MainhomepageBG, .HomepageBG {
        font-size: 5rem;
    }
}