:root {
    --BGColor: #223522;
    --ContentBG: #E6DECC;
}

.DelicaciesBG {
    background-image: url('placeholder_delicacies.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: 13%;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: 2rem;
    color: rgb(255, 121, 121);
    font-size: 5rem;
}

#DelicaciesContentBG h1{
    text-align: center;
    font-size: 0.95rem;
    padding: 2rem 0 2rem 0;
}

#DelicaciesContentBG {
    background-color: var(--ContentBG);
    padding-bottom: 4rem;
}

#CardGrid {
    display: grid;
    grid-template-columns: 1fr; 
    justify-items: center;  
    align-items: center;  
    gap: 1rem;
    margin-left: 1%;
    margin-right: 1%;
    height: fit-content;
}

.CardContainer {
    width: 90%;
    margin-bottom: 3rem;
}

.Card {
    background-image: url('ph2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    width: 100%;
    height: 25rem;
    
    position: relative;   
    overflow: hidden;     
}

.CardInfo {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    height: inherit;
    width: 100%;
    text-align: center;

    opacity: 0;              
    transition: 0.3s;
}

.Card:hover .CardInfo {
    opacity: 1;  
    background-color: rgb(0, 0, 0, 0.5);  
    color: white;          
}

.CardType {
    background-color: #3C3838;
    border-radius: 1.4em;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    width: fit-content;
    color: white;
    font-weight: bold;
}

.CardName {
    font-size: 1.5rem;
    font-weight: bolder;
}


@media (min-width: 600px) {
    #CardGrid {
        grid-template-columns: 1fr 1fr;
    }

    .CardContainer {
        width: 80%;
        min-width: 80%;
    }

    #DelicaciesContentBG h1{
        font-size: 2rem;
        padding: 3rem 0 3rem 0;
    }      
}

@media (min-width: 900px) {
    .DelicaciesBG {
        font-size: 5rem;
    }
    
    #CardGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .CardContainer {
        width: 50%;
        min-width: 50%;
    }
}