:root {
    --BGColor: #223522;
    --ContentBG: #E6DECC;
}

html {
    scroll-behavior: smooth;
}

.DestinationsBG {
    background-image: url('placeholder_festival.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: 25%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    color: rgb(255, 121, 121);
    font-size: 2rem; 
}

#DestinationsContent {
    background-color: var(--ContentBG);
    padding-bottom: 4rem;
    width: 100%;
}

#DestinationsContent h1 {
    text-align: center;
    font-size: 1rem;
    padding: 2rem 0;
}

#CardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.CardContainer {
    width: 90%;
    height: 50vh;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardContainer p {
    text-align: left;
    width: 100%;
}

.Card {
    width: 100%;
    height: 100%;
    background-image: url('ph1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.CardContainer > a {
    display: block;
    width: 100%;
    height: 100%;
}

.HorizontalWrap {
    display: flex;
    width: 100%;
    align-items: center;   
    justify-content: space-between;            
    margin-bottom: 1rem;   
}

.Forward {
    cursor: pointer;
}

@media (min-width: 600px) {
    .DestinationsBG {
        font-size: 3rem;
    }

    .CardContainer {
        width: 90%; 
    }

    #DestinationsContent h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {
    .DestinationsBG {
        font-size: 4rem;
    }

    .CardContainer {
        width: 90%; 
    }

    #DestinationsContent h1 {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .DestinationsBG {
        font-size: 5rem;
    }

    .CardContainer {
        width: 90%; 
    }
}