:root {
    --BGColor: #223522;
    --ContentBG: #E6DECC;
}

.FestivalsBG {
    background-image: url('placeholder_festival.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: 25%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    color: rgb(255, 121, 121);
    font-size: 1.5rem; 
}   

#FestivalsContent {
    background-color: var(--ContentBG);
    width: 100%;
    min-height: 100vh; 
    padding-bottom: 5rem; 
    box-sizing: border-box;
}

#FestivalsContent h1 {
    text-align: center;
}

#CardWrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr; 
}

.FestivalCard {
    position: relative;
    height: 50vh;
    margin: 0;
}

#Card1 {
    background-image: url('ph3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Card2 {
    background-image: url('images\ \(3\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.CardInfo {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    text-align: center;

    opacity: 0;              
    transition: opacity 0.3s;
}

.FestivalCard:hover .CardInfo {
    opacity: 1;              
}

@media (min-width: 600px) {
    .FestivalsBG {
        font-size: 3rem;
    }
}

@media (min-width: 900px) {
    .FestivalsBG {
        font-size: 4rem;
    }
    #CardWrapper {
        grid-template-columns: 1fr 1fr; 
        gap: 0;
    }
}

@media (min-width: 1200px) {
    .FestivalsBG {
        font-size: 5rem;
    }
}