:root {
    --BGColor: #223522;
    --ContentBG: #E6DECC;
}

html {
    scroll-behavior: smooth;
}

.FestivalsBG {
    background-image: url('placeholder_festival.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: 25%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}   

#FestivalsContent {
    background-color: var(--ContentBG);
    width: 100%;
    box-sizing: border-box;
    padding: 0 5% 2rem 5%;
}

#FestivalsContent h1 {
    padding: 2rem 0 1rem 0;
    font-size: 1rem;
}

#FIntro {
    padding-bottom: 1rem;
}

#CardWrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr; 
}

.FestivalCard {
    position: relative;
    height: 50vh;
    margin: 0;
}

#Card1 {
    background-image: url('ph3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Card2 {
    background-image: url('images\ \(3\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.CardInfo {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    text-align: center;

    opacity: 0;              
    transition: opacity 0.3s;
}

.FestivalCard:hover .CardInfo {
    opacity: 1;              
}

@media (min-width: 600px) {
    #FestivalsContent h1 {
        font-size: 1.5rem;
    }

    #FIntro {
        padding: 0 50% 1rem 0;
    }
}

@media (min-width: 900px) {
    #CardWrapper {
        grid-template-columns: 1fr 1fr; 
        gap: 0;
    }

    #FestivalsContent h1 {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
}