* {
    margin: 0;
}

:root {
    --BGColor: #223522;
}

#Navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: #2C432D;
    border-radius: 0 0 20px 20px;

    width: 80%;
    padding: 1.5rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.Navbar_items{
    list-style: none;
    text-align: center;
    margin: 1.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 10%;
}

.Navbar_items li{
    display: inline-block;
    padding-right: 2rem;
}

#Mobile_Navbar{
    display: none;
    background-color: #2C432D;
    position: fixed;
    width: 100%;
}

#logo {
    position: absolute;
    left: 1rem;
    top: 50%; 
    transform: translateY(-30%); 

    width: 6rem;
    height: 6rem;
}

#logodesk {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);

    width: 10rem;
    height: 10rem;
}

.Mobile_Navbar_items {
    float: right;
    margin: 0;
}

#DropDown {
    list-style: none;
    text-align: end;
    margin: 1.5rem;
    font-size: 2rem;
    color: white;
    font-weight: bolder;
}


#SideBar{
    z-index: 1;
    position: fixed;
    right: -500rem;
    top: 0;
    width: 80%;
    height: 100%;
    background: white;
    transition: 0.3s; 
}

.Sidebar_Container li {
    list-style: none;
    font-size: 3rem;
    margin-top: 1.5rem;
}

.Sidebar_Container a {
    font-size: 2rem;
}

#Close {
    text-align: end;
    padding-right: 2rem;
}

#Overlay {
    z-index: 0;
    position: fixed;
    right: -500rem;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(37, 37, 37);
    opacity: 50%;
}

.Navbar_items a, .Sidebar_Container a{
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.Navbar_items a::after {
    content: '';
    position: absolute;
    height: 0.1rem;
    left: 0;
    bottom: 0;
    width: 0;
    background: rgb(0, 0, 0);
    transition: width .3s;
}

.Navbar_items a.Show::after {
    content: '';
    position: absolute;
    height: 0.1rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    transition: width .3s;
}

.Navbar_items a:hover::after {
    width: 100%;
}

#SideBar.Show{
    right: 0;
    transition: 0.3s;
}

#Overlay.Show{
    right: 0;
}

footer {
    text-align: center;
    font-weight: bold;
    background-color: var(--BGColor);
    color:white;
    padding: 2rem;
    display: flex;
    justify-content: center;  
    align-items: center;      
    flex-direction: column; 
}

#footerwrap {
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

#copyright {
    font-size: 0.65rem;
    padding-bottom: 2rem;
}

#fblogo {
    width: 50px;
    height: 50px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#emaillogo {
    width: 40px;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

#footerFB {
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
}


#footerEmail {
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
}

@media (max-width: 419px)  /* mobile */ 
{
    body {
        background-color: rgb(255, 190, 190);
    }

    #Navbar {
        display: none;
    }

    #Mobile_Navbar {
        display: block;
    }
}

@media (min-width: 420px)  /* mobile */ 
{
    body {
        background-color: rgb(250, 137, 137);
    }

    #Navbar {
        display: none;
    }

    #Mobile_Navbar {
        display: block;
    }
}

@media (min-width: 600px)  /* mobile */ 
{
    body {
        background-color: rgb(245, 91, 91);
    }

    #Navbar {
        display: none;
    }

    #Mobile_Navbar {
        display: block;
    }

    a {
        font-size: 1.1rem;
    }

    #SideBar {
        width: 40%;
    }
}

@media (min-width: 900px)  /* mobile */ 
{
    body {
        background-color: rgb(141, 56, 56);
    }

    #Navbar {
        display: block;
    }

    #Mobile_Navbar {
        display: none;
    }

    #logo {
        position: absolute;
        left: 1rem;
        top: 0; 
        transform: translateY(20%); 

        width: 6rem;
        height: 6rem;
    }

    .Navbar_items a {
        font-size: 1.5rem;
        color: white;
    }

    

    .Navbar_items a::after {
        background: rgb(255, 255, 255);
    }

    .Navbar_items a.Show::after {
        background: rgb(255, 255, 255);
    }

    #footerwrap {
        display: flex;
        align-items: center;   
        gap: 50rem;            
        margin-bottom: 1rem;   
    }
    .fContentWrap {
        display: flex;
        align-items: center;   
        gap: 0.5rem;            
        margin-bottom: 1rem;   
    }

    #copyright {
        font-size: 1rem;
        padding-bottom: 2rem;
    }

    #footerFB, #footerEmail {
        display: flex;
        flex-direction: row;   
        align-items: center;  
        gap: 0.5rem;           
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) /* tablet */ 
{
    body {
        background-color: rgb(109, 0, 0);
    }

}

@media (min-width: 1536px) /* laptop */ 
{
    body {
        background-color: rgb(61, 61, 61);
    }

    
}