* {
    margin: 0;
}

:root {
    --BGColor: #172501;
}

#Navbar {
    position: fixed;
    top: 0;
    height: 4.5rem;
    width: 100%;
}

#logodesk {
    width: 5rem;
    height: auto;
    transform: translate(20%, 9%);
    margin-right: 2rem;
}

.Navbar_items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.Navbar_items li {
    white-space: nowrap;
}

#HorizontalWrapper {
    display: flex;
    align-items: center;      
    height: inherit;  
    justify-content: space-between;
    width: 100%;
    border: 2px solid rgb(234, 0, 255);
}

#Navbar {
    border: 2px solid red;
}
#logodesk {
    border: 2px solid blue;
}
.Navbar_items {
    border: 2px solid green;
}

#Mobile_Navbar{
    display: none;
    position: fixed;
    width: 100%;
    height: 3.5rem;
}

.static {
    background-color: rgba(0, 0, 0, 0.151);
    backdrop-filter: blur(3px);

    transition: all 0.5s;
}

.static.scrolling {
    background-color: rgba(85, 85, 85, 0.733);
    backdrop-filter: blur(3px);
}

#logo {
    position: absolute;
    left: 6.5%;
    top: 50%; 
    transform: translateY(-30%); 

    width: 4rem;
    height: 4rem;
}

.Mobile_Navbar_items {
    float: right;
    margin: 0;
}

#DropDown {
    list-style: none;
    text-align: end;
    margin: 1rem;
}

#burger {
    width: 2rem;
    height: 2rem;
}

#SideBar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    background: white;

    display: flex;
    justify-content: flex-start; /* horizontal start */
    align-items: flex-start;     /* vertical start */

    transform: translateX(100%);
    transition: transform 0.4s ease;
}

#SideBar.Show{
    transform: translateX(0);
}

.Sidebar_Container li {
    list-style: none;
    font-size: 3rem;
    margin-bottom: 1rem;

    border-top: 1px solid black;
    border-left: none;
    border-right: none;

    text-align: start;
}

.Sidebar_Container a {
    font-size: 2rem;
}

.Sidebar_Container {
    margin: 0;
    padding: 0 0 0 1rem;   /* THIS removes the left space */
    width: 100%;
}

#Close {
    text-align: end;
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

#Overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(5px);

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;

    z-index: 1005; 
}


#Overlay.Show {
    opacity: 1;
    width: 100%;
    height: 100%;
} 

.Navbar_items a, .Sidebar_Container a{
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
    position: relative;
    padding-bottom: 4px;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.Navbar_items a::after {
    content: '';
    position: absolute;
    height: 0.1rem;
    left: 0;
    bottom: 0;
    width: 0;
    background: rgb(0, 0, 0);
    transition: width .3s;
}

.Navbar_items a.Show::after {
    content: '';
    position: absolute;
    height: 0.1rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    transition: width .3s;
}

.Navbar_items a:hover::after {
    width: 100%;
}

footer {
    text-align: center;
    font-weight: bold;
    background-color: var(--BGColor);
    color:white;
    display: flex;
    justify-content: center;  
    align-items: center;      
    flex-direction: column; 
}

#footerwrap {
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

#copyright {
    font-size: 0.65rem;
}

#fblogo {
    width: 50px;
    height: 50px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#emaillogo {
    width: 40px;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

#footerFB {
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
}


#footerEmail {
    color:white;
    font-size: 1.2rem;
    text-decoration: none;
}

#FFooter {
    background-color: black;
    width: 100%;
    height: 5rem;
}

#FFooter p {
    padding: 1rem;
}

@media (max-width: 419px)  
{
    body {
        background-color: rgb(255, 190, 190);
    }

    #Navbar {
        display: none;
    }

    #Mobile_Navbar {
        display: block;
    }
}

@media (min-width: 420px)  
{
    body {
        background-color: rgb(250, 137, 137);
    }

    #Navbar {
        display: none;
    }

    #Mobile_Navbar {
        display: block;
    }
}

@media (min-width: 600px)  
{
    body {
        background-color: rgb(245, 91, 91);
    }

    #Navbar {
        display: none;
    }

    #Mobile_Navbar {
        display: block;
    }
}

@media (min-width: 900px)  
{
    body {
        background-color: rgb(141, 56, 56);
    }

    #Navbar {
        display: block;
    }

    #Mobile_Navbar {
        display: none;
    }

    .Navbar_items a {
        font-size: 0.9rem;
        color: white;
    }


    .Navbar_items a::after {
        background: rgb(255, 255, 255);
    }

    .Navbar_items a.Show::after {
        background: rgb(255, 255, 255);
    }

    #footerwrap {
        display: flex;
        align-items: center;   
        gap: 50rem;            
        margin-bottom: 1rem;   
    }
    .fContentWrap {
        display: flex;
        align-items: center;   
        gap: 0.5rem;            
        margin-bottom: 1rem;   
    }

    #copyright {
        font-size: 1rem;
        padding-bottom: 2rem;
    }

    #footerFB, #footerEmail {
        display: flex;
        flex-direction: row;   
        align-items: center;  
        gap: 0.5rem;           
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }
}

@media (max-width: 1536px) and (min-width: 900px) {

}